<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>E.M.P > 정보 수정</title>
		
		<!-- 외부 css -->
		<link rel="stylesheet" href="/css/font.css"> <!-- 폰트 css -->
		<link rel="stylesheet" href="/css/header.css"> <!-- 헤더 css -->
		<link rel="stylesheet" href="/css/user_information.css"> <!-- 사원 정보 관련 css -->
	</head>
	
	<body>
		<!-- 헤더 -->
		<div th:replace="/header/header.html :: fragment-header"></div>
		
		<div id="content">
			<div class="wrap">
				
				<form action="/authInfo_edit" method="post" enctype="multipart/form-data">
					
					<!-- 사진, 기본 정보 wrap -->
					<div class="picNnormal_info_wrap">
						
						<div class="picNnormal_info">
							
							<!-- 사진 -->
							<div class="pic_container">
								
								<!-- 사진 프리뷰 담을 박스 -->
								<div class="pic_preview" th:style="'background-image:url(' + ${unitedEmploy.e_pic} +');'">
									<!-- <img th:src="${unitedEmploy.e_pic}" width="200px" height="200px"/> -->
								</div>
								
								<!-- 사진 업로드 -->
								<div class="pic_upload_container">
									<input type="file" name="uploadFile" accept="image/*">
									<input type="hidden" name="e_pic" th:value="${unitedEmploy.e_pic}">
								</div>
								
							</div>
							
							<!-- 기본 정보 -->	
							<div class="normal_info">
								<div class="top_lbl">기본 정보</div>
								
								<!-- 기본 정보 테이블 -->
								<table id="normal_tb">
									<!-- 사번 -->
									<tr>
										<th>사번: </th>
										<td>
											<input type="text" name="e_num" th:value="${unitedEmploy.e_num}" readonly>
											<input type="hidden" name="e_pswd"th:value="${unitedEmploy.e_pswd}">
										</td>
									</tr>
									
									<!-- 이름 -->
									<tr>
										<th>이름: </th>
										<td>
											<input type="text" name="e_name" th:value="${unitedEmploy.e_name}">
										</td>
									</tr>
									
									<!-- 부서 -->
									<tr>
										<th>부서: </th>
										<td>
											<select name="e_dept_num"> <!-- th:field 설정 -->
												<option th:value="${unitedEmploy.e_dept_num}"  name="e_dept_num" readonly hidden selected>-- 부서 --</option>
												<option th:each="dept:${deptList}" th:text="${dept.d_name}" th:value="${dept.d_num}" name="e_dept_num" th:attr="selected=${dept.d_num == unitedEmploy.e_dept_num}"></option>"
												<!-- 아래에 th:each로 option 만들기, th:text(보이는 내용), th:value(넘기는 내용) 설정 -->
											</select>
										</td>
									</tr>
									
									<!-- 직급 -->
									<tr>
										<th>직급: </th>
										<td>
											<select name="e_pos_num"> <!-- th:field 설정 -->
												<option th:value="${unitedEmploy.e_pos_num}" name="e_pos_num" readonly hidden selected>-- 직급 --</option>
												<option th:each="pos : ${posList}" th:text="${pos.p_name}" th:value="${pos.p_num}" name="e_pos_num" th:attr="selected=${pos.p_num == unitedEmploy.e_pos_num}"></option>
												<!-- 아래에 th:each로 option 만들기
												th:text(보이는 내용), th:value(넘기는 내용) 설정 -->
											</select>
										</td>
									</tr>
								</table>
							</div>
							
						</div>
						
					</div>
					
					<!-- 추가 정보 wrap -->
					<div class="additional_info_wrap">
						
						<!-- 추가 정보 -->
						<div class="additional_info">
							<div class="top_lbl">추가 정보</div>
								
							<!-- 추가 정보 테이블 -->
							<table id="additional_tb">
								<!-- 이메일 -->
								<tr>
									<th>이메일: </th>
									<td>
										<input type="email" name="e_email" th:value="${unitedEmploy.e_email}">
									</td>
								</tr>
									
								<!-- 휴대폰 -->
								<tr>
									<th>휴대폰: </th>
									<td>
										<input type="tel" placeholder=" - 없이 입력하세요." name="e_phone" th:value="${unitedEmploy.e_phone}">
									</td>
								</tr>
									
								<!-- 성별 -->
								<tr>
									<th>성별: </th>
									<td>
										<input type="radio" th:if="${unitedEmploy.e_gender == 0}" name="e_gender" value="0" checked>
										<label th:if="${unitedEmploy.e_gender == 0}">남자</label>
										
										<input type="radio" th:if="${unitedEmploy.e_gender == 1}" name="e_gender" value="1" checked>
										<label th:if="${unitedEmploy.e_gender == 1}">여자</label>
										
										<input type="radio" th:if="${unitedEmploy.e_gender == 2}" name="e_gender" value="2" checked>
										<label th:if="${unitedEmploy.e_gender == 2}">기타</label>
									</td>
								</tr>
								
								<!-- 생일 -->
								<tr>
									<th>생일: </th>
									<td>
										<input type="date" 
										th:value="${#dates.format(unitedEmploy.e_birth,'yyyy-MM-dd')}"
										th:max="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
										min="1800-01-01"
										name="e_birth_string"
										readonly>
									</td>
								</tr>
									
								<!-- 주소 -->
								<tr>
									<th>주소: </th>
									<td>
										<input type="text" name="e_addr" th:value="${unitedEmploy.e_addr}">
									</td>
								</tr>
							</table>
						</div>
						
					</div>
					
					
					<!-- 재직 정보 wrap -->
					<div class="office_info_wrap">
						<!-- 재직 정보 -->
						<div class="office_info">
							<div class="top_lbl">재직 정보</div>
								
							<!-- 재직 정보 테이블 -->
							<table id="office_tb">
								<!-- 입사일자 -->
								<tr>
									<th>입사일자: </th>
									<td>
										<input type="date" 
										th:value="${#dates.format(unitedEmploy.e_sdate,'yyyy-MM-dd')}"
										th:max="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
										min="1800-01-01"
										name="e_sdate_string"
										readonly
										>
									</td>
								</tr>
									
								<!-- 재직 현황 -->
								<tr>
									<th>재직 현황: </th>
									<td th:if="${unitedEmploy.e_state == 0}">
										<select name="e_state"> <!-- th:field 설정 -->
											<option value="0" selected name="e_state">재직중</option>
											<option value="1" name="e_state">퇴사</option>
										</select>
									</td>
									<td th:if="${unitedEmploy.e_state == 1}">
										<input type="hidden" value="1" name="e_state">
										<input type="text" value="퇴사" readonly>
									</td>
								</tr>
									<!-- 퇴사일자 -->
								<tr th:if="${unitedEmploy.e_edate != null}">
									<th>퇴사일자: </th>
									<td>
										<input type="date" 
										th:value="${#dates.format(unitedEmploy.e_edate,'yyyy-MM-dd')}"
										readonly
										>
									</td>
								</tr>
							</table>
						</div>
					</div>
					
					<!-- btn -->
					<div class="emp_btns">
						<div class="btn_wrap">
							
							<!-- 수정 버튼 -->
							<button type="submit" class="btn_edit"><img src="/imgs/btn/share/btn_edit.png"></button>
							
							<!-- 취소 버튼 -->
							<button type="reset" class="btn_cancel"><img src="/imgs/btn/share/btn_cancel.png"></button>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</body>
	
</html>