@charset "UTF-8";
@import "font.css";

			body {
				background-color: #C6C0AE;
				margin: 0; padding: 0;
			}
			
			#content {
				position: absolute;
				top: 80px;
				left: 0px;
				width: 100%;
				height: calc(100% - 80px);
						
				/*자식 중앙 정렬*/
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			/*내부*/
			
			.wrap {
				display: flex;
				flex-direction: column;
				
				align-items: center;
			}
			
			/* 검색 */
			.search_wrap {
				display: flex;
				justify-content: center;
				align-items: center;
				
				margin-top: 20px; /*페이지네이션 마진 때문에 중앙 맞추려고*/
			}
			
			.form_search {
				display: flex;
				float: left;
				justify-content: center;
				align-items: center;
				
				width: 430px;
				height: 60px;
			}
			
				/* 검색창 */
			.search_box_wrap {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.search_box_wrap,.search_box_wrap input {
				width: 350px;
				height: 50px;
			}
			
			.search_box_wrap input {
				font-family: 'SUITE-Regular';
				font-size: 20px;
				padding-left: 20px;
			}
			
				/* 검색 버튼 */
			.search_btn_wrap {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			#btn_search {
				width: 40px;
				height: 40px;
				
				margin-left: 20px;
			}
			
			/*필터 영역*/
			.filter_wrap {
				margin-top: 20px;
			}
			
			.form_filter {
				width: 500px;
				height: 40px;
				
				display: flex;
				float: left;
				justify-content: center;
				align-items: center;
			}
			
				/*select 박스*/
			.selec_dept, .selec_pos, .selec_status {
				width: 100px;
				height: 40px;
				
				font-family: 'SUITE-Regular';
				font-size: 15px;
				text-align: center;
			}
			
			.selec_pos, .selec_status {
				margin-left: 10px;
			}
			
				/*적용 버튼*/
			#btn_ok {
				margin-left: 20px;
			}
			
			/*사원 목록 영역*/
			.emp_table_wrap {
				margin-top: 40px;
			}
			
			.emp_table {
				font-family: 'SUITE-Regular';
				font-size: 20px;
				text-align: center;
			}
			
			.emp_table tr {
				height: 65px;
				background-color: #F2F0EA;
				
				border-radius: 20px;
				box-shadow: 5px 5px 5px #7c715a; /*배경색에 흰색 10% 섞은 색*/
				
				display: flex;
				align-items: center;
				
				margin-bottom: 15px;
			}
			
				/*td*/
			.td_name {
				width: 150px;
			}
			
			.td_dept {
				width: 200px;
			}
			
			.td_pos {
				width: 200px;
			}
			
			.td_btns {
				width: 250px;
				
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
								
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
				/* td 내부 버튼 영역 */
			.btns_wrap {
				width: 220px;
				height: 50px;
				
				display: flex;
				float: left;
				justify-content: center;
				align-items: center;
			}
			
			/*버튼 css*/
			#btn_ok, #btn_edit {
				width: 80px;
				height: 40px;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			#btn_ok img, #btn_edit img {
				width: 80px;
				height: 40px;
			}
			
			#btn_history {
				width: 100px;
				height: 40px;
				
				margin-right: 20px;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			#btn_history img {
				width: 100px;
				height: 40px;
			}