@charset "UTF-8";
@import "font.css";

			body {
				background-color: #F2F0EA;
				
				margin: 0; padding: 0;
			}
			
			#content {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
						
				/*자식 중앙 정렬*/
				display: flex;
				justify-content: center;
				align-items: center;
				
				overflow: scroll;
			}
			
			.wrap {
				width: 640px;
				height: 480px;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			.top_lbl {
				font-family: 'TheJamsil5Bold';
				font-size: 35px;
				
				margin: 0 auto;
				margin-bottom: 25px;
			}
			
			.pwd_now_wrap, .pwd_wrap, .pwd_ck_wrap {
				width: 575px;
				height: 50px;
				
				margin-bottom: 15px;
				
				display: flex;
				align-items: center;
				float: left;
			}
			
			.mid_lbl {
				width: 150px;
				height: 50px;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.pwd_cg_f {
				width: 550px;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			label {
				font-family: 'SUITE-Regular';
				font-size: 20px;
				
				text-align: center;
			}
			
			.input_wrap {
				width: 300px;
				height: 50px;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			input[type=password] {
				width: 300px;
				height: 40px;
				
				padding-left: 20px;
				
				font-family: 'SUITE-Regular';
				font-size: 18px;
			}
			
			#btn_ok, #btn_edit {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			#btn_ok {
				margin-left: 25px;
			}
			
			#btn_edit {
				margin-top: 10px;
			}
			
			#btn_ok, #btn_ok img {
				width: 80px;
				height: 40px;
			}
			
			#btn_edit, #btn_edit img {
				width: 100px;
				height: 50px;
			}