<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>E.M.P > 근무 기록</title>
		
		<!-- 외부 css -->
		<link rel="stylesheet" href="/css/font.css"> <!-- 폰트 css -->
		<link rel="stylesheet" href="/css/header.css"> <!-- 헤더 css -->
		<link rel="stylesheet" href="/css/work_history.css"> <!-- 근무 기록 css -->
		<link rel="stylesheet" href="/css/pagination.css"> <!-- 페이지네이션 css -->

	</head>
	
	<body>
		<!-- 헤더 -->
		<div th:replace="/header/header.html :: fragment-header"></div>
		
		<div id="content">
			<div class="wrap">
				
				<!-- 설명 -->
				<div class="top_lbl" th:text="'\'' + ${e_numString} +'\' 님의 출퇴근 기록 입니다.'">
					<!-- th:text="'\'' + ${name} + '\' 님의 출퇴근 기록입니다.'" -->
				</div>
				
				<!-- 검색 wrap -->
				<div class="search_wrap">
				
					<!-- 검색 폼 -->
					<form action="/work_history" method="get" class="form_search">
						<input type="hidden" th:value="${e_numString}" name="e_num_string">
						<!-- 검색 박스 영역 -->
						<div class="search_box_wrap">
							<input type="date" 
									th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
									th:max="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
									min="1800-01-01"
									name="e_history_date_string">
						</div>
							
						<div class="search_btn_wrap">
							<!-- input type=submit과 같은 기능 -->
							<input type="image" id="btn_search" src="/imgs/btn/share/icon/btn_search.png">
						</div>
					</form>
				</div>
				
				<!-- 출퇴근 테이블 wrap -->
				<div class="work_table_wrap">
					<!-- 테이블 -->
					<table class="work_table" border="solid 1px #7c715a" cellpadding="0" cellspacing="0">
						<!-- 칼럼 -->
						<tr>
							<th class="th_datetime">일시</th>
							<th class="th_sep">구분</th>
							<th class="th_oher">비고</th>
						</tr>
						
						<tr th:each="history : ${work_history}"> <!-- th:each로 데이터 불러오기 --> <!-- 한 페이지 당 10개씩 -->
							<!-- 비고 전송 폼 -->
							<form action="/work_history" method="post" class="form_other">
								<input type="hidden" th:value="${e_numString}" name="e_num_string">
								<input type="hidden" th:value="${history.hkey}" name="hkey"> <!-- pk(h_key) th:text로, 이용해서 데이터 넣기 -->
						
								
								<td class="td_datetime" th:text="${history.hdate}">yyyy.MM.dd HH:mm:ss</td><!-- 일시 th:text로 -->
								
								<td class="td_sep" th:classappend="${history.hstate == 0} ? 'away' : ''" th:if="${history.hstate == 0}">결근</td>
								<td class="td_sep" th:if="${history.hstate == 1}">출근</td>
								<td class="td_sep" th:if="${history.hstate == 2}">퇴근</td>
									
							<td class="td_other" th:text="${history.h_comment}")><!-- 비고 th:text로 -->
								비고
							</td>
							<input type="hidden" th:value="${history.hstate}">
						</tr>
						
						
					</table>
				</div>
				
				
				<!-- 페이지네이션 -->
				<!-- 컨트롤러에서 넘겨줄 변수 = 시작 페이지 번호, 끝 페이지 번호, 총 페이지 번호, 현재 페이지 번호 -->
				<div id="pagination" th:if="${page.totalElements != 0}"><!-- th:if로 ${page 객체.totalElements != 0} 달아주기 -->
				
					<ul>
						
						<li class="fir_btn"  th:if="${page.number > 0}"> <!-- th:if="${현재 페이지 번호 > 1}" -->
				            <a th:href="@{/work_history(e_num_string=${e_numString}, page=0, size=${page.size})}"> <!-- th:href="@{1페이지로 가는 링크}" -->
				            	<<
				           	</a>
				        </li>
						
				        <li class="pv_btn" th:if="${page.number - 1 >= 0}"> <!-- th:if="${시작 페이지 번호 >= 10}" --> 
				            <a th:href="@{/work_history(e_num_string=${e_numString}, page=${page.number -1}, size=${page.size})}"> <!-- th:href="@{시작 페이지 번호 - 1 페이지로 가는 링크}" -->
				            	이전
				           	</a>
				        </li>
				        
				        <li class="page_btn" th:each="pageNum : ${#numbers.sequence(0, page.getTotalPages() - 1)}">
				            <a th:href="@{/work_history(e_num_string=${e_numString}, page=${pageNum}, size=${page.size})}"
				            th:text="${pageNum + 1}"
				            th:classappend="${pageNum == page.number} ? 'current' :''"
				            >
				            
				            </a>
				        </li>
				        
				        <li class="next_btn" th:if="${page.number + 1 < page.getTotalPages()}"> <!--  -->
				           <a th:href="@{/work_history(e_num_string=${e_numString}, page=${page.getNumber() + 1}, size=${page.size})}"> <!-- th:href="@{/끝 페이지 번호 + 1 페이지로 링크}" -->
				            	다음
				            </a>
				        </li>
				        
				        <li class="last_btn" th:if="${ page.number < page.getTotalPages() - 1}"> <!-- th:if="${현재 페이지 번호 < 총 페이지 번호}" -->
				            <a th:href="@{/work_history(e_num_string=${e_numString}, page=${page.getTotalPages() - 1}, size=${page.size})}">
				            >>
				           	</a>
				        </li>
				        
				    </ul>
								
				</div>
				<!-- 페이지네이션 end-->
				
				
			</div>
		</div>
	</body>
</html>